name: ci

on:
  push:
    braches:
      - '**'
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v3
      -
        name: Install depencencies
        run: yarn install
      -
        name: Build project
        run: yarn make
      -
        name: Release build
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          files: out/make/**/*.*